		
		
		
<div class="homepage">

<h1 class="homepage">Welcome to Project 360</h1>
<br>

<% unless signed_in? %>


	
<% else %>


<h4>Yo <%= @current_user.name %></h4>

<h4>Email: <%= @current_user.email %></h4>
<h4>Bio: <%= @current_user.bio %></h4>



<%end%> 

<br>
<br>
<br><br>
<br><br>
<br>
<br>
<br>

</div>

