<div class="col-xs-6">

<h1>All Users</h1>


<% User.all.each do |user| %>
	
	<% if current_user.friendships.find_by_friend_id(user.id) == nil %>
	
	<a href="<%= user_url(user) %>"><%= user.name %></a>
	<br>
	
	<% end %>
	
<% end %>

</div>
<div class="col-xs-6">

<h1><font color="green">Friends</font></h1>

<% current_user.friendships.each do |friendship| %>

	<% user = User.find(friendship.friend_id) %>
	<a href="<%= user_url(user) %>" style="color: green;"><%= user.name %></a>
	<br>
	
<% end %>

<br>
</div>