/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

div.homepage {
text-align: center;
width: 400px;
	margin: 0 auto;
	

		
}

div.messages {
	top: 40px;
}


body {
	/*background-color: #cccccc;*/
    background-image: url("https://raw.githubusercontent.com/CSE360Fall2014/ImageSpace-Django/master/image_space_app/static/img/photographer.jpg");
	
}

.navbar {
	background-color: #44678D;
	text-color: #EEEEEE;
}


