/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

div.homepage {	
	margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
	top: 60px;
	
	
}


  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/287.jpg');
    background-repeat:repeat;
  }
  
  
  
div.left-panel {
	box-shadow: 8px 0px 35px #BBB;
	background-color: #ddffff;
	height:735px;
}

div.right-panel {
	

}

nav.navbar {
 border: 0.1px solid rgba(0, 0, 0, 0.3);
	margin-bottom: 1px;

}

div.messages {
	top: 40px;
}

div.left-side{
	margin: 0 auto;
}

body {
	background-color: #0;
	
}

.navbar {
	background-color: #FF0000;
	height: 60px;
    font-family: "Lucida Console", Times, monospace;
	 border: 0.1px solid rgba(0, 0, 0, 0.3);
    /* background-image: url("https://raw.githubusercontent.com/CSE360Fall2014/ImageSpace-Django/master/image_space_app/static/img/photographer.jpg");
	 */
	 z-index: 1;
	 }
	 .navbar-header {
	
	font-size: 23px;
    font-family: "Lucida Console", Times, monospace;
	 box-shadow: inset 0 0 1em green-yellow;
	 
	 }


div.feed-container {
	padding-left: 60px;
}

div.photos {
	margin-left: -2.5%;
	margin-right: 2.5%;
	width: 105%;
	overflow-x: auto;
	float: left;
	display: flex;
	flex-wrap: nowrap;
}

div.photo {
	float: left;
	background-color: #f2f2f2;
	border-radius: 6px;
	padding: 10px;
	margin: 0px 8px;
	min-width: 340px;
	max-width: 400px;
	display: inline-block;
}


img.photo {
	max-width: 320px;
	max-height: 320px;
}

.image_button {
	display: inline-block;
}



